In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Real_estate.csv')
data

,Prop_id,prop_type,Neighborhood,Bedrooms,Bathrooms,Sq_ft,Year_built,sale_price
0,1,Condo,Rural,4,4,1934,2016,275729
1,2,House,Rural,1,1,1402,2022,134265
2,3,House,Suburb B,4,4,1463,1988,291206
3,4,Appartment,Downtown,2,1,2497,1988,208841
4,5,Appartment,Suburb B,2,4,1787,1984,192586
...,...,...,...,...,...,...,...,...
95,96,Appartment,Rural,2,3,2488,1982,183387
96,97,House,Suburb B,2,4,2812,2015,173658
97,98,House,Rural,4,1,2423,1983,273458
98,99,House,Downtown,1,1,2891,2000,156762
99,100,House,Suburb B,2,2,1794,2022,263142

In [3]:
data.columns = data.columns.str.strip()
data.columns = data.columns.str.lower()
data.columns = data.columns.str.replace(' ', '_')

In [4]:
data.isnull().sum()

prop_id         0
prop_type       0
neighborhood    0
bedrooms        0
bathrooms       0
sq_ft           0
year_built      0
sale_price      0
dtype: int64

In [5]:
data.drop_duplicates(inplace=True)

In [14]:
# neighborhood_data = pd.read_csv("Neighborhood_Demographics.csv")
# data = data.merge(neighborhood_data, on='neighborhood_id', how='left')

In [19]:
# Example filtering based on actual column names in your dataset
data = data[(data['year_built'] == 2022) & (data['prop_type'] == 'House')]
data

,prop_id,prop_type,neighborhood,bedrooms,bathrooms,sq_ft,year_built,sale_price
1,2,House,Rural,1,1,1402,2022,134265
99,100,House,Suburb B,2,2,1794,2022,263142

In [27]:
df_encoded=pd.get_dummies(data,columns=['prop_type','neighborhood'])
print(df_encoded)

    prop_id  bedrooms  bathrooms  sq_ft  year_built  sale_price  \
1         2         1          1   1402        2022      134265
99      100         2          2   1794        2022      263142

    prop_type_House  neighborhood_Rural  neighborhood_Suburb B
1                 1                   1                      0
99                1                   0                      1

In [33]:
avg_price_by_neighborhood=data.groupby('neighborhood')['sale_price'].mean()
print(avg_price_by_neighborhood)

Avg_sales_prop = data.groupby('prop_type')['sale_price'].mean()
Avg_sales_prop

neighborhood
Rural       134265.0
Suburb B    263142.0
Name: sale_price, dtype: float64

prop_type
House    198703.5
Name: sale_price, dtype: float64

In [35]:
from scipy import stats

z_scores=stats.zscore(data['bathrooms'])
threshold=3
outliers =(z_scores>threshold) | (z_scores< -threshold)
print(outliers)

1     False
99    False
Name: bathrooms, dtype: bool